/* Login/Register Section */
.login-section, .register-section {
  padding: 60px 0;
  background-color: #004643; /* Dark teal */
}

.login-container, .register-container {
  background-color: #e8e4e6; /* Soft gray */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 0 auto;
  color: #001e1d; /* Dark text */
}

/* Headings */
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #001e1d;
}

/* Form Styling */
.form-group {
  margin-bottom: 20px;
}

.form-group label i {
  margin-right: 10px;
  color: #004643; /* Icon color - dark teal */
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #001e1d;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #abd1c6; /* Light teal border */
  border-radius: 4px;
  background-color: #fff;
  color: #001e1d;
}

input:focus {
  border-color: #f9bc60; /* Yellow focus */
  outline: none;
}

/* Button Styling */
button,
.register-button {
  background-color: #f9bc60;
  color: #001e1d;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
.register-button:hover {
  background-color: #e16162;
  color: #fffffe;
}


/* Footer Links */
.form-footer {
  text-align: center;
  margin-top: 20px;
  padding: 32px;
  color: #abd1c6; /* Light teal */
}

.form-footer a {
  color: #f9bc60; /* Yellow */
  font-weight: bold;
  transition: 0.3s;
}

.form-footer a:hover {
  color: #e16162; /* Red on hover */
}

/* Password icon */
.form-group label i.fa-user {
  color: #001e1d; /* blue */
}


/* Error Message Styling */
.error-message {
  color: #e16162;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
